body{
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    font-size: 18px;  
}


.header{
    color: #F9FAF8;
    background-color:#1F2937;
    display:flex;
    align-content: center;
    justify-content: space-between;
    padding:0 200px;
    
}

img{
    border-radius: 15px;
}

.list{
    display: flex;
    list-style: none;
    font-weight: 100;
    justify-content: space-between;
    gap: 105px;
    align-items: center;
    
}

/*im not sure how to get the header and content_1 even quite yet*/


.content_1{
    color: #F9FAF8;
    background-color:#1F2937;   
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding:48px 200px;

    
    
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.herohead{
    font-size: 48px;
    font-weight:400;
    color: #F9FAF8;
}

.herop
{
    font-size: 28px;
    font-weight:100;
    color: #F9FAF8;
}


.button{
    background-color: #3882F6;
    color: white;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 200;
    width: 200px;
}
 
.infoheader{
    font-size: 36px;
    font-weight: 600;
    color: #1F2937; 
}

.content_2{ 
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.list2
{
    display: flex;
    list-style: none;
    font-weight: 100;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    align-items: center;

}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    background-color: #E5E7EB;
    color:#1F2937;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    padding: 130px;
}

.position{
    font-weight: 500;
}

/*need to figure out how to make large border white?*/

.footer
{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 100px solid #f9faf8;
    border-radius: 25px;

}

.cta
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    

}
.button2
{
    background-color: #F9FAF8;
    color: #3882F6;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 100;
    width: 150px;

}